.view {
    display: none;
}
.view.active {
    display: block;
}

#map-view-container, 
#map-route-container {
    height: 450px; 
    width: 100%;
    border-radius: 0.5rem; 
    margin-top: 1rem; 
    background-color: #e9e9e9; 
}


body {
    font-family: 'Inter', sans-serif; 
}

.leaflet-marker-icon {
    width: 25px !important;
    height: 41px !important;
    margin-left: -12px !important; /* (width / 2) * -1 */
    margin-top: -41px !important;  /* height * -1 */
}

.leaflet-marker-shadow {
    width: 41px !important;
    height: 41px !important;
}

/* Tambahan untuk tombol navigasi aktif (jika ingin memindahkannya dari JS) */
/* .nav-button.active-nav {
    ring: 2px;
    ring-offset: 2px;
    --tw-ring-color: theme('colors.blue.400');
} */

/* Styling untuk ikon kustom L.divIcon (jika Anda tidak ingin inline style di JS) */
/* .custom-div-icon span {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid white;
} */
